@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Roboto:wght@100;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}

html{
  scroll-behavior: smooth;
}


/*mobile first*/

header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1.5rem;
  background-color: #ffffff;
  z-index: 100;
}


header .menu{
  display: none;
}
.menu_mobile{
  background-color: #EEFAF7;
  visibility: hidden;
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  height: 0px;
  transition: .6s;
  display: block;
  visibility: hidden;
  overflow-y: hidden;
}

.menu_mobile nav a{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #2A7C6F;
  display: block;
  padding: 20px 20px;
  font-size: 16pt;
}
.menu_mobile nav a:hover{
  background-color: #2A7C6F;
  color: #EEFAF7;
}
header .menu_mobile.abrir{
 visibility: visible;
 height: calc(100vh - 85px);
 overflow-y: auto;
}

#btn_menu{
  display: flex;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
}

#hamburger{
  width: 20px;
  border-top: 2px solid;
  display: block;
  color: #2A7C6F;
}

#hamburger::after, #hamburger::before{
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: currentColor;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}

#btn_menu.ativo #hamburger{
  border-top-color: transparent;
}

#btn_menu.ativo #hamburger::after{
  transform: rotate(-135deg);
  top: -7px;
}
#btn_menu.ativo #hamburger::before{
  transform: rotate(135deg);
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .875rem;
}

.logo p{
  visibility: hidden;
}

.logo img{
  width: 3.5rem;
}
.apresentacao{
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Lato', sans-serif;

}
.apresentacao_principal{
  color: #2A7C6F;
  width: 100%;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.2;
  padding-bottom: 1.8rem;
}
.apresentacao_principal h1{
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

.apresentacao_principal p{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
}
.apresentacao_principal button{
  background-color: #fff;
  color: #2A7C6F;
  border: 2px solid #2A7C6F;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
}

.apresentacao_principal button:hover{
  background-color: #2A7C6F;
  color: #fff;
}
.apresentacao_img img{
  display: block;
  width: 100%;
  padding: .875rem;
}

.servicos{
  top: 85px;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.servicos h2{
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-bottom: 1rem;
}

.servicos p{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
  color: #363636;
}

.button{
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.button button{
  background-color: #2A7C6F;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  border: none;
}
 
.button button:hover{
  background-color: #fff;
  color: #2A7C6F;
  border: 2px solid #2A7C6F;
}

.atendimento{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.atendimento h2{
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-bottom: 1rem;
  text-align: center;
}

.container_atendimento{
  display: flex;
  flex-direction: column;
  background-color: #EEFAF7;
  margin: .875rem;
}

.container_tipo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_tipo img{
  width: 100%;
  padding: .875rem;

}

.container_tipo h3{
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-bottom: 1rem;
  text-align: center;
}

.container_tipo p{
  width: 100%;
  padding: 16px;
  text-align: center;
  font-size: 1.05rem;
  font-family: 'Roboto', sans-serif;
  color: #363636;
}

.depoimentos{
  padding: 0.875rem;
  width: 100%;
}
.depoimentos h2{
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-bottom: 1rem;
  text-align: center;
}
.container_depoimentos{
  border: 2px solid #2A7C6F;
  padding: .875rem;
  text-align: center;
}

.container_depoimentos h3{
  font-size: 1.025rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-bottom: .25rem;
}

.container_depoimentos h4{
  font-size: .85rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-bottom: .875rem;
}

.container_depoimentos p{
  width: 100%;
  text-align: center;
  font-size: 1.05rem;
  font-family: 'Roboto', sans-serif;
  color: #363636;
  padding-bottom: .875rem;
}

.sobre{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.sobre .part1 img{
  display: block;
  width: 100%;
  padding: .875rem;
}

.sobre .part2 h2{
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-bottom: 1rem;
  text-align: center;
}

.sobre .part2 p{
  width: 100%;
  padding: .875rem;
  text-align: center;
  font-size: 1.05rem;
  font-family: 'Roboto', sans-serif;
  color: #363636;
}

.contato{
  padding-bottom: 3rem;
}

.contato h2{
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-bottom: 1rem;
  text-align: center;
}

.contato_img{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2.125rem;
}

.contato_img a{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contato_img a img{
  width: 2.5rem;
}


footer{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: .825rem;
  text-align: center;
  padding: .875rem;
}

footer a{
  color: #2A7C6F;
}